/* src/components/Login.css */

body {
    margin: 40;
    font-family: 'Bookman Old Style', serif; /*Set font to Bookman style */
    background: rgb(4, 41, 60);
  }
  
  .login-container {
    height: 80vh;
    padding: 80px;
    background: linear-gradient(to right, #ff8c00, #ff4500, #4169e1);;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
  }
  
  .login-box {
    background: white;
    padding: 70px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%; /* Increase the size by 25% */
  }

  .registration-form{
    color: rgb(204, 204, 204)
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input,
  select,
  button {
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    /* background: #4169e1; */
    color: white;
    cursor: pointer;
  }
  